 .button {
   display: block;
   width: 160px;
   height: 45px;
   border-radius: 10px;
   background-color: $main-color;
   border: none;
   color: #FFF;
   text-align: center;
   font-size: 12px;
   font-weight: 400;
   line-height: 22px;
   text-transform: uppercase;
   &_big {
    margin: 0 auto;
    margin-top: 35px;
    width: 230px;
    height: 57px;
    font-size: 15px;
    font-weight: 700;
   }
 }