.carousel {
   min-height: 355px;
   padding: 50px 0 65px 0;
   &__promo {
      margin-top: 45px;
      text-align: center;
      font-size: 21px;
      font-weight: 300;
      color: #2e2e2e;
   }
}