.map {
   height: 500px;
   position: relative;

   &__info {
      position: absolute;
      top: 0%;
      left: 40%;
      width: 329px;
      height: 158px;
      background-color: $main-color;
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 72% 76%, 51% 100%, 27% 75%, 0% 75%);
      padding: 20px 65px;
   }
   &__point {
      margin: 0;
      text-align: center;
      font-size: 18px;
      line-height: 30px;
      font-weight: 300;
      color: #ffffff;
      span {
         display: block;
         font-size: 20px;
         line-height: 20px;
         font-weight: 700;
      }
   }
   &__phone {
      margin-top: 5px;
      display: block;
      text-align: center;
      font-size: 18px;
      color: #ffffff;
      text-decoration: none;
      &:hover {
         color: aqua;
         text-decoration: underline;
      }
   }


}