@media (max-width: 1200px) {
   .container {
      max-width: 960px;
   }
   .header {
      &__menu {
         padding: 0;
         justify-content: space-around;
         width: 540px;
      }
      &__contact {
         width: 125px;
      }
      &__phone {
         text-align: center;
         font-size: 14px;
         line-height: 20px;
      }
   }
   .title {
      &_main {
         font-size: 70px;
      }
   }
   .promo {
      &__subtitle {
         font-size: 40px;
      }
      &__wrapper {
         justify-content: space-around;
         flex-direction: row;
         flex-wrap: wrap;
         row-gap: 25px;
      }
      &__descr {
         width: 240px;
         font-size: 14px;
      }
   }
   .benefits {
      &__wrapper {
         margin-top: 35px;
      }
      &__descr {
         width: 300px;
      }
   }
   .price {
      &__wrapper {
         justify-content: space-around;
         flex-wrap: wrap;
         row-gap: 35px;
      }
      &__form {
         width: 650px;
         input {
            width: 210px;
         }
      }
   }
   .carousel {
      padding: 50px 0;
      .container {
         max-width: 1140px;
      }
      &__inner {
         width: 100%;
      }
      .slick-prev {
         left: 29%;
      }
      .slick-center {
         width: 350px;
      }
      &__comment {
         width: 350px;
      }
   }
}
@media (max-width: 1140px) {
   .carousel {
      .container {
         max-width: 960px;
      }
      &__inner {
         width: 100%;
      }
      .slick-center {
         width: 340px;
      }
      &__comment {
         width: 300px;
      }
   }
}
@media (max-width: 992px) {
   .container {
      max-width: 720px;
   }
   .header {
      justify-content: center;
      &__logo {
         width: 80px;
         height: 80px;
      }
      &__menu {
         width: 600px;
      }
      &__link {
         font-size: 16px;
      }
      &__contact {
         display: none;
      }
      .button {
         display: none;
      }
   }
   .title_main {
      font-size: 68px;
   }
   .promo {
      padding: 25px 0;
      &__suptitle {
         margin-top: 30px;
      }
      &__divider {
         width: 660px;
      }
      &__line {
         width: 300px;
      }
      &__descr {
         width: 164px;
         font-size: 14px;
      }
   }
   .benefits {
      &__descr {
         width: 240px;
      }
   }
   .delivery {
      &__promo {
         margin: 15px 60px 0 60px;
      }
   }
   .price {
      &__promo {
         padding: 0 110px;
      }
   }
   .scheme {
      &__wrapper {
         justify-content: space-around;
         gap: 20px;
      }
   }
   .carousel {
      .container {
         max-width: 720px;
      }
      &__inner {
         width: 500px;
      }
      .slick-prev {
         left: 9%;
      }
   }
}
@media (max-width: 768px) {
   .container {
      max-width: 540px;
   }
   .header {
      justify-content: space-around;
      &__menu {
         position: fixed;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         top: 0;
         left: -100%;
         width: 50%;
         height: 100vh;
         padding: 20px 15px;
         background-color: rgba(0, 0, 0, 0.8);
         transition: 0.6s all;
         &_active {
            left: 0;
         }
      }
      .hamburger {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         width: 40px;
         span {
            display: block;
            height: 4px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 8px;
            transition: 0.5s all;
         }
         &_active {
            span {
               margin-bottom: -5px;
               &:nth-child(1) {
                  transform: translate(3px) rotate(-45deg);
               }
               &:nth-child(2) {
                  display: none;
               }
               &:nth-child(3) {
                  transform: translate(3px) rotate(45deg);
               }
            }
         }
      }
      &__item {
         margin: 10px 0;
         padding-right: 0;
         border: 0;
      }
      &__link {
         font-size: 13px;
      }
   }
   .title_main {
      margin-top: 15px;
      font-size: 50px;
   }
   .promo {
      &__suptitle {
         margin-top: 20px;
         font-size: 20px;
      }
      &__subtitle {
         font-size: 36px;
      }
      &__divider {
         margin-top: 28px;
         width: 480px;
      }
      &__line {
         width: 210px;
      }
      &__icon {
         width: 50px;
         min-height: 50px;
      }
      &__descr {
         width: 185px;
      }
   }
   .benefits {
      padding: 35px 0;
      &__wrapper {
         margin-top: 25px;
      }
      &__item {
         margin-bottom: 25px;
      }
      &__icon-wrapper {
         width: 50px;
         height: 50px;
      }
      &__descr {
         width: 175px;
      }
   }
   .delivery {
      padding: 35px 0;
      &__wrapper {
         margin-top: 25px;
         justify-content: space-around;
         flex-direction: row;
         flex-wrap: wrap;
      }
      &__item {
         width: 320px;
      }
      &__photo {
         height: 175px;
      }
      &__descr {
         margin-top: 25px;
      }
   }
   .agent {
      padding: 50px 0;
      &__descr {
         padding: 0 50px;
      }
   }
   .price {
      padding: 35px 0;
      &__promo {
         padding: 0 60px;
      }
      &__wrapper {
         margin-top: 25px;
         justify-content: space-between;
         row-gap: 25px;
      }
      &__item {
         width: 255px;
      }
      &__cost {
         span {
            font-size: 26px;
            line-height: 26px;
         }
      }
      &__advice {
         margin-top: 35px;
      }
      &__form {
         width: 520px;
         input {
            width: 170px;
            &:nth-child(3) {
               margin-bottom: 20px;
            }
         }
      }
   }
   .manager {
      padding: 50px 0;
      &__descr {
         padding: 0 65px;
      }
   }
   .carousel {
      .container {
         max-width: 540px;
      }
   }
}
@media (max-width: 576px) {
   .container {
      width: 100%;
      padding: 0 10px;
   }
   .title_main {
      margin-top: 10px;
      font-size: 35px;
   }
   .promo {
      &__suptitle {
         margin-top: 15px;
         font-size: 20px;
      }
      &__subtitle {
         font-size: 25px;
      }
      &__divider {
         margin-top: 20px;
         width: 320px;
      }
      &__line {
         width: 130px;
      }
   }
   .benefits {
      padding: 35px 0 20px 0;
      &__wrapper {
         justify-content: space-around;
      }
      &__descr {
         width: 250px;
         font-size: 14px;
      }
   }
   .delivery {
      &__promo {
         margin: 15px 15px 0 15px;
         font-size: 20px;
         line-height: 22px;
      }
      &__wrapper {
         margin-top: 20px;
         gap: 20px;
      }
      &__item {
         width: 280px;
      }
   }
   .agent {
      padding: 35px 0;
      .title_white {
         margin-top: 15px;
      }
      &__descr {
         padding: 0 10px;
         margin-top: 15px;
         font-size: 17px;
         line-height: 26px;
      }
   }
   .price {
      padding: 35px 0;
      &__promo {
         padding: 0 10px;
         font-size: 18px;
         line-height: 26px;
      }
      &__wrapper {
         flex-direction: column;
         align-items: center;
      }
      &__form {
         width: 300px;
         input {
            margin-bottom: 20px;
            width: 100%;
         }
      }
   }
   .manager {
      padding: 35px 0;
      .title_white {
         margin-top: 15px;
      }
      &__descr {
         padding: 0 10px;
         margin-top: 15px;
         font-size: 17px;
         line-height: 26px;
      }
   }
   .scheme {
      padding: 35px 0;
   }
   .carousel {
      .container {
         width: 100%;
         padding: 0 10px;
      }
   }
}
