.title {
   margin: 0;
   color: #2E2E2E;
   text-align: center;
   font-size: 26px;
   font-weight: 700;
   text-transform: uppercase;
   &_main {
      margin-top: 25px;
      color: $main-color;
      text-align: center;
      font-size: 72px;
      line-height: normal;
   }
   &_white {
      margin-top: 20px;
      color: #ffffff;
      text-transform: none;
   }
   &_order {
      font-size: 28px;
      line-height: 23px;
      font-weight: 400;
      color: #3a3a3a;
   }
}